@tailwind base;
@tailwind components;
@tailwind utilities;

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  height: 15vh;
  width: 100vw;
  background: rgba(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(41, 41, 45, 0) 100%
  );
}
